<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhihuan.daoyi.cad">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".base.CadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:process=":secondProcess"
        android:theme="@style/Theme.Cad">
        <activity android:name=".ui.Activitys.firstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--login-->
        <activity android:name=".ui.Activitys.LoginActivity"
            android:launchMode="singleInstance"
            />
        <!--富文本-->
        <activity android:name=".ui.Activitys.WebViewActivity"
            android:launchMode="singleInstance"
            />
        <!--关于我们-->
        <activity android:name=".ui.Activitys.AboutActivity"
            android:launchMode="singleInstance"
            />
        <!--新手指南-->
        <activity android:name=".ui.Activitys.HelpActivity"
            android:launchMode="singleInstance"
            />
        <!--主功能界面-->
        <activity android:name=".ui.Activitys.MainActivity"
            android:launchMode="singleInstance"
            />
    </application>

</manifest>